<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %method:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<springProfile name="!local">
		<appender name="LOGSTASH"
			class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>localhost:50000</destination> <!-- Ajuste para o endereço do Logstash -->
			<encoder class="net.logstash.logback.encoder.LogstashEncoder" >
				<!-- Configuração opcional para adicionar campos personalizados -->
				<customFields>{"index":"poc", "app_name":"poc-produto-service","env":"${spring.profiles.active}"}</customFields>
			</encoder>

			<reconnectionDelay>15000</reconnectionDelay>
		</appender>
	</springProfile>

    <!-- Nível de log global -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Adiciona LOGSTASH ao root se o profile for diferente de "local" -->
    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>
	
</configuration>